body{
    margin-left: 20px;
}

.chat{
    background-color: rgb(176 221 255);
    padding: 20px;
    border-radius: 20px;
    width: 30%;
    margin: 5px;
}

.msg{
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    border-radius: 20px;
    font-size: larger;
    font-weight: 900;
}